doctype 5
html
  head
    title=pageTitle
    meta(name="msvalidate.01", content="DF74E0934E999839CFF9FAD576CC106E")
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="/javascripts/jquery-1.7.1.min.js")
    script var debug=1;
    script(src="/javascripts/all.js")
  body(onload="init()")
    canvas(id="can")