
html
  head
    meta(charset="utf-8")
    style .oscuro {display: none;}
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="javascripts/myopenstat.js")
    script function h(i){var el=document.getElementById(i); el.style.display = (el.style.display === "block") ? 'none' : 'block';}
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34005435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body( bgcolor="#555555")
    div( style="font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;color:#BBFFBB;font-size:24px;")
      h1 Vida nueva
      a(onclick="h('1')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 01.08.2012
      div( id='1',style="display:'none';", class='oscuro')
        br
        Сегодня Давид принёс шахматы и сборная россии наконец-то смогла отыграться после поражения в пляжный тенис.
        br
        Забронировали билеты на Тенерифе со скидкой для резидентов 50% итого 58 евро! В школе я поспрашивал всех о горе Тейде (самая высокая гора во всей Испании), все удивляются зачем мне надо на вершину горы. На пляже были делали интеркамбиос, разносчики мороженного кричат что у них есть рожок за 0.80 копеек. Заставил Давида плыть на риф, когда приплыли Давиду понравилось и он подтрунивал что нечего мне ловить в Мадриде, когда такие "buenas vistas". Вечером в ресторане рядом ели осминога, болтали с офицантом о всех его русских клиентах о пролитиках и их фамилиях, которые переводятся как шлюха и т.п. ...
      a(onclick="h('2')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 02.08.2012
      div( id='2',style="display:'none';", class='oscuro')
        br
        В школе предпоследний урок и поэтому много болтали в классе. Моя профессора все никак не верит, что какому-то испанцу (тем более канарцу) интересен наш русский! "Сколько ему лет? Очень странно!" :)))
        br
        Со мной в группе всю эту неделю учиться русский парень из Перми, который приезжал уже сюда 3 года назад и ему нравиться тут учиться :). Поделились опытом с ним и т.к. он со своей девушкой тоже едет на Тенерифе (но на 1 день) решили там встретиться и вместе посмотреть площадки индейцев гуанчи. 
        br
        После школы мы сразу пошли получать свои билеты на паром до Тенерифе и заодно посмотреть куда нам идти в субботу (откуда он отправляется). 
        br
        Получили билеты и зашли ненадолго в торговый центр "Эль Муэлле", чтобы купить новую майку, но ничего не нравиться :( !
        br
        С Давидом встретились и он нам показал популярный вегетарианский ресторан в котором все блюда с мясом, но это не мясо а его имитация (сделано из овощей)! Я такое вижу первый раз в жизни! Очень вкусно! Объелись и дешево! :)
        br
        Пошли на пляж, где как обычно играли в ракетки и ребята играли в шахматы. Вова снова выиграл и Давид совсем расстроился. Все канарцы ОЧЕНЬ азартные ВО ВСЕМ! Будь это просто шашки или мировой кубок по футболу!
        br
        Я с Вовой плавала на риф! Еще одно захватывающее приключение! ) Там прозрачная вода и видно косяки разноцветных и разноформенных рыб! Я плавала с водными очками и рассматривала дно! Вау!
        br
        Опять супер устали (от игры в теннис особенно) и завтра будут болеть все мускулы! Перекусили дома бутербродами (сил идти куда-то совсем нет).  
        br
        Я делала домашку, смотря телек. :)))). А теперь спать! 
      a(onclick="h('3')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 03.08.2012
      div( id='3',style="display:'none';", class='oscuro')
        br
        Наш сайт востановлен!!! Была ошибка в 2-ух буквах! ААААААААААААААААААААА! :))))))))
        br
        Последний урок в школе на нынешних уровнях и мы прощаемся с нашими "професорами" (моя професора Анна - уходит в отпуск и плывет к себе на родину - на соседний остров "La Palma"). Анна в перерыве мне посоветовала пройти уровень А2 еще раз, т.к. мы тут живем тут долго. Но я не хочу одно и тоже проходить по 2 раза так что иду в новый. 
        br
        Встретились с Давидом и он был очень рад нас видеть. Пошли болтать в кафешку "Моцарт" и так заболтались что даже не успели в другой бар.
        br
        Как обычно по пятницам мы ходим в один и тот же бар "La Aperitiv", где проходят встречи испанцев с русскими. С русскими - с нами, т.к. из русских туда приходим только мы :). Встреча прошла очень весело и оживленно. Отмечали ДР 
      a(onclick="h('4')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 04.08.2012 - 05.08.2012 Тенерифе
      div( id='4',style="display:'none';", class='oscuro')
        img( src="images/DSC_0657.jpg", align="left")
        img( src="images/DSC_0155_01.jpg", align="left")
        img( src="images/DSC_0408_piram.jpg", align="left")
        br
        Итак, встали в 6 утра (ну в 6-20 :)т.к. вовремя мы встать все равно не можем). Быстро собрались и пошли к причалу корабля. Там кассы были закрыты (время 6:55), и хорошо что свои билеты мы получили заранее - позавчера! Подъехал автобус через 20 минут и водитель стал его мыть, чистить и приводить в порядок вручную. В 7:30 автобус поехал к причалу, и мы зашли на борт Armas. Armas отплыл по расписанию в 8-00. За нами плыл еще второй Armas, но через 30 минут он отделился и поплыл в сторону Пенинсулы (материковая часть Испании). 
        br
        Внутри было все красиво обставлено: был бар, магазины парфюмерии (наподобие дюти-фри), кресла для сидения с телевизорами и большие палубы со столиками и стульями. На третей палубе наверху был даже бассейн и лежаки для загорания! Но в 8 утра еще не так жарко, и когда Armas плывет со скоростью 35-40 км.час, то на 3-ей палубе сильный ветер и сильно качает. Так что мы первую часть поездки попили чай и сьели бутерброд в баре-ресторане, а вторую часть после прогулки по всем-всем палубам - спали на мягких крслах. Доехали хорошо, но чуть-чуть укачало.
        br
        Плыть на Armas от Гран Канарии до Тенерифе 3 часа. Все это времы народ развлекают музыканты с гитарами и песнями и открыт бар-рестаран. 
        br
        Приплыли в 11 в Санта Круз Дэ Тенерифе: повсюду стройка и промышленная зона, а еще жарко и душно. Еле-еле дошли в горку до нашего отеля, который распологается в 5 минутах от автовокзала, который для нас является точкой отправления (т.к. мы не планируем арендовать машину на эти 2 дня). Отель грандиозный! Стеклянный лифт снаружи здания довез нас до 5 этажа, где был наш 4-ех звездочный номер. По интернету в номере нашели информацию, что автобус до горы Тейде ходит только 1 раз в день (в 9-00 из города Пуэрто дэ ля Круз) и 1 раз в день обратно (в 16-00) до того же города. Так что сейчас в 12 часов мы уже на него опаздали. Но мы не расстроились, т.к. поехали на пирамиды гуанчи в город Гуймар, а на обратном пути заехали в другой маленький городок Канделария(Candelaria) - там церковь и статуи вирхинов (люди которые жили здесь много веков назад с белой кожей и рыжими волосами). Погуляли по набережной, где были красивые волны и пещеры. На обратном пути к автобусу купили магнитик и статую богини Гуанчи- "невыеста" для Давида (он просил привести ему невесту с Тенерифе :) ). Домой вернулись без сил и сьели и выпили в номере почти весь бар :))))).
        br
        <:-)
        h3 05.08.2012
        br
        Встали в 6 утра чтобы сесть в автобус до Пуэрта Круз из которого в 9-00 отправляется автобус до горы Тейде. Автобус прямой и идет 30 минут. Город Пуэрто Круз мне понравился: повсюду цветочки и белые аккуратненькие домики. Жалко что не было много времени погулять по нему. Но проезжали мимо ботанический сад и ферму попугаев. Пока ждали автобуса до горы, успели позавтракать вкусно в кафетерии.
        br
        Автобус был полный, даже 1 парочка сначала стояла, а потом сидела на ступеньках и болтала с водителем. Мы сидели сразу за водителем и перед наши открывались захватывающие виды! Это даже не описать: море, горыкрошечные домики внизу, повсюду хвойные деревья! Автобус ехал и ехал вверх на высоту 2 300 метров. Дорогие тут очень хорошие, ровные и, несмотря на множество поворотов (серпантин), нас не укачивало.
        br
        Выйдя из автобуса мы увидели очередь на канатку (это не было неожиданностью, т.к. нас уже предупредил знакомые испанцы в пятничном баре). Очередь двигалась быстро и чде-то через 15 минут мы сели в вагончик (вернее встали в него). На такую высоту мы еще не поднимались! Это было очень захватывпающе! Вагончик едет быстро, но по времени это 6-7 минут и поднимает еще на 1 200 метров! Вау! Каленки тряслись и люди в кабинке везжали от страха каждый раз, когда вагончик въезжал на следующий уровень! Какая же красотища на верху 3 555 метров над уровнем моря - выше облаков! Тут было 4 марштура различной сложности: от длинных 7 километровых, до легких 200 метров. На вершине много маршрутов для сендеризма(хождение по скалам). Мы прошли по одному длинному и вернулись назад, так как один француз нам сказал что скоро заканчивается дорожка из камней и остальной путь нужно лазить по скалам. И два маршрута мы прошли целиком. Видели кратор вулкана, реки из лавы и белую гору. Лазили по скалам до 15:00, около четырех часов.
      a(onclick="h('5')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 06.08.2012
      div( id='5',style="display:'none';", class='oscuro')
        br
        Новый уровень - у меня В1, а у Вовы В2. Все классы полны народу! И с каждый днем приходят все новые и новые, т.к. в Европе начинаются с 1 августа каникулы и все едут сюда! А едут потому что тут хорошо! У меня в группе все теже ученики (перешли с А2) и 2 новенькие (из Австрии и из Италии). Повторяли прошедшие (мои не любимые) времена и играли в игру - на первую букву пишем слова на разные темы и кто первый напишем все слова тот и выиграл. В перерыве завтракали в 4-ом :Джейн (вернулась из путешествия по Испании), Тимур и мы. Мы рассказали как сьездили на Тенерифе, в каком отели жили и как добирались до достопримечательностей.
        br
        Планы на день: спать и отдыхать! Т.к. 3 дня подряд вставать в самую рань и целый день бегать по экскурсиям и уже нет сил :)))). И конечно описать все впечатления в блоге, а это не легко, т.к. так много  где были и много всего увидели.
      a(onclick="h('6')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 12.08.2012
      div( id='6',style="display:'none';", class='oscuro')
        br
        Итак, наконец-то поехали на пляж префиоса Амадорес с белым-прибелым песком и бирюзовой водой! А оттуда в бухту Моган!
      a(onclick="h('7')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 13.08.2012
      div( id='7',style="display:'none';", class='oscuro')
        br
        В школе Вова перешел в мою группу и стало еще веселее! :))))) Теперь сидим рядышком за одной партой и занимаемся по одному учебнику всегда вместе! А в школе Вова объяснил свой переход как желание повторить еще раз материал перед переходом в самый последний уровень :))).
        br
        Из моей группы ушли мелкие-глупые ученики и теперь заниматься стало очень интересно и комфортно! И тем более что на этой недели мы занимаемся каждый день по 5 часов, т.к. в среду - выходной (что за праздник мы так и не поняли, т.к. никто не знает).
        br
        Целый день отдыхали и никуда не ходили, только в магазин за едой. Обычные, спокойный день...
      a(onclick="h('8')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 14.08.2012
      div( id='8',style="display:'none';", class='oscuro')
        br
        В школе завтракали с новым компоньером в классе - парнем из Греции (который даже знает мой банк на Кипре). Поболтали обо всем на испанском. Посде школы поехали на Вегету (историческая часть острова), где договорились встретиться с Давидом, чтобы совместить полезное (интеркамбиус) с приятным (посещение музеев).
        br
        Были в музее "Колон" - музей Колумба! Узнали что Колон - это Калум только сегодня, спустя 2,5 месяца житья тут! Очень странно! :))) Музей очень понравился! Внутри все карты с путями по которым плавал Колумб, когда плыл открывать Америку (он останавливался здесь - на Гран Канарии и плыл дальше). Всего делал 4 мореплавания и все разы останавливался на 4-ех канарских островах. В музее есть огромная каталунская какрта с необычным гороскопом, календарем, розой ветров и огромной картой мира с изображениями всех провителей и сюжетами из мифов, эта карта инкрустирована золотыми вставками в разных местах. Внутри музей был красивый парк и живые попугаи - мальчик и девочка, потому что они все время целовались :))))).
        br
        После музея мы прогулялись по всей Вегете и я с Давидом зашли в Кафедральный Собор (внутрь), а Вова остался сидеть на лавочке на площади. Внутри для меня было старнным - електрические свечки, которые можно зажечь за 20 центов. Красивый собор.
        br
        В 20:00 на Бегете на центральной "барной" улице началось празднование Нового ГОда (об этом нам рассказали сегодня утром в школе). Т.к. календарь Майя заканчивается какого-то декабря и НГ не будет 31 декабря, то пиво Тропикаль (местное канарское пиво) устраивает Новый год сегодня! ))))))))) Все улицы были украшены флаэжками, официанты переодеты в костюмы, везде играла музыка и уже все столики были заняты празднующими людьми. Мы обошли все улочки и поехали домой на том же автобусе номер 1 на котором и приехали сюда. Очень устали и уже никуда в 22 часа не пошли, хотя встретили по дороге домой в кафе грека из школы... 
      a(onclick="h('9')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 15.08.2012
      div( id='9',style="display:'none';", class='oscuro')
        br
        Мда, для тех у кого каждый день выходной - выходной не является уже такой радостью, а наоборот - хочется учиться!
        br
        Вова был занят работой почти целый день и ходил на интеркамбиус с Давидом, а я совсем облинилась и никуда не пошла! Смотрела теле и спала днем :). Сделала домашку - теперь "нашу" домашку делаю только я за двоих! Вечером (около 8) мы с Вовой вышли играть в теннис на пляж около нашего дома и он искупался в море. Говорит что вода очень теплая. А я сидела и наблюдала закат! Закат как всегда был великолепен - ярко красный! Солнце садититься прямо перед нами. Небо было достаточно ясным и было видно горы на соседнем острове - Тенерифе!
        br
        Еще одна вещь о которой я бы хотела написать - это про то что ВСЕ думают, что у нас тут все горит!!! Совсем это НЕ так! Пожаров тут нет! От сильной жары и не именеи дождей загорелись леса на Тенерифе и на Гомере, но их быстро-быстро тущат. А еще тут растут определенный канарский вид сосны, которая после пожаров снова зеленеет. Когда мы были на Тенерифе то совсем не видели пожаров и не было дыма нигде. 
      a(onclick="h('10')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 16.08.2012
      div( id='10',style="display:'none';", class='oscuro')
        br
        Наконец-то в школу! Мне очень нравиться заниматься и этот уровень мне интересен и не сложен!
        br
        В перерыве завтракали с однокласницей из Швеции, которая замужем за канарцем (и 2 детей) и приехала сюда всей семьей для восстановления своих знаний испанского. Болтали по-испански и когда у всех примерно один уровень языка, то болтать интересно и продуктивно!
        br
        После занятий на пляжу меня ждалим девчонки из группы, а Вова с Давидом пошли "делать интеркамбиус" - разговаривать, т.к. на пляже им плохо думается :). Потому что на пляже хочеться лежать и загорать, а не нарпягать голову! На пляже была большая компания - народ из школьной резиденции - все из разных стран и разговраивали на англ. и итальянском. Но потом пришла Моника (девочка из школы, которая снимает комнату и мы с ней болтали по-испански. Потом подошли Вова и Давид и мы много купались и играли в теннис на песке! Они начертили поле и игра шла на счет! Домой мы вернулись после 21 часа уже без сил! Так как целый день плавать, загорать и грать на солнце - не так уж и легко! Завтра договорились в клуб пойти - посмотрим что из этого выйдет :))))).
      a(onclick="h('11')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 17.08.2012
      div( id='11',style="display:'none';", class='oscuro')
        br
        Очень насыщенный день и ночь. В школе все проходило весело и последнюю часть урока мы как обычно занимались на террасссе (это большой балкон на последнем этаже нашей школы). Днем как обычно - встреча с Давидом и потом интеркамбиус с Канарцами которые учат русский в баре "Ля Апперетив". Эти встречи для нас стали уже обыденностью и мы туда приходим как свои :).
        br
        Дискотека, танцы, алкоголь, Моника-наранха-Моника-лимон, там  были чехи из школы, много итальянского "ма". Сначало пошли в один бар, потом в бар с дискотекой. Музыка была веселая и я танцевала! А в 2 :30 ночи мы с девчонками вышли из клуба как обычно на улицу (подышать воздухом) и тут откуда не возьмись появился Вова! :))) Клуб находился прямо на соседней улице от нашегшо дома - очень удобно! Тут все рядом! Мы попращались со всеми и пошли прогуляться по Кантерасу - сегодня теплая безветрянная ночь и все-все гуляют! Очень романтично постояли и посмотрели на море и пошли домой в 3 часа ночи спать! :)
      a(onclick="h('12')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 18.08.2012
      div( id='12',style="display:'none';", class='oscuro')
        br
        С Давидом сидели на площади Испании, потом на пляже играли в тенис до сумерек, потом отказалисть ехать с Джорджем на юг острова (послали ему смс и сослись на то, что я болею - это правда, я не купаюсь сейчас в море, так что нет смысла ехать в бунгало с бассейном :( ). Я конечно расстроилась, а Вова наоборот обрадовался что никуда ехать не надо - лентяй. И пошли есть кальмары в ресторанчик "Тапа ен Тапа" (в котором уже один раз ели их перед тем, как поехать в кино). К ним еще заказали хлеб сверху намазанный соусом из томатов, чеснока и масла оливкого. Очень вкусно!
      a(onclick="h('13')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 19.08.2012
      div( id='13',style="display:'none';", class='oscuro')
        br
        Встреча с давидом в 16:00. Снова посидели на площади Испании во вчерашней кафешке. Вообщем больше в эту кафешку не пойдем. После 2-ух часового интеркамбиуса, когда все наговорились - пошли на пляж к фигуре из песка. Тут пляж более широкий и поэтому тут можно и поиграть в теннис на песке так, что никто не мешает. Загорали и играли в теннис. Нам очень нравиться и пока не надоело! Играли на счет и Давид выграл у Вовы, а я выграла у Давида и он расстроился, т.к. ВСЕ испанцы привыкли выигрывать! И не терпят поражений ни в одном виде спорта! Как дети . :))))
      a(onclick="h('14')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 20.08.2012
      div( id='14',style="display:'none';", class='oscuro')
        br
        Наконец-то я снова пошла на пляж днем, когда много солнца и можно загорать! Мне нравиться загорать! В школе меня спрашивали девчоник, почему я не приходила в выходные, а я приходила но уже в то время. когда все разошлись - после 18 часов. Так что сегодня они снова меня ждут после 15 часов. Мы пришли с Вовой в 15-30 примерно, но Вова скоро пошел домой, т.к. ему слишком жарко и много дел дома. Мы лежали рядом с девочкой из Чехии, которая тут отдыхает одна, т.к. ее МЧ не смог взять отпуск и приехать к ней. Мы с ней болтали по испаснски обо всем, а потом пошли играть в теннис! Ей очень понравилось и получалось. Наигрались так что устали! Девчонки из моей группы - Моника и Анна пригласили нас сегодня вечером в бар, в котором была какая-то оферта и что-то еще интересное. Часов в 17 все с пляжа разошлись и я пошла домой к Вове, приняла душ, мы сходили в магазин за продуктами и приготовили вкусный (вегетарианский) ужин. Многие думают что без мяса нельзя наестся - это не верно, т.к. просто не умеют готовить овощи! Мы приготовили цветную капусту с луком и помидором под сыром! Очень вкусно получилось! Мммм, хочу еще!
        br
        К 22 пошли на встречу с однокурсниками в бар. В баре было куча народу как обычно, несмотря на то что сегодня понедельник! А все потому что тут оферта - пиво по 0,45 центов! :))))) Общались, разговарилвали и тусовались в баре (а вернее на улице перед баром - так тут принято, что тусовка в баре и на улице) до 02 ночи. Далее компания пошла в другой бар  - Камелион (в котором были в пятницу перед дискотекой), а мы с Вовой распрощались со всеми и пошли домой спать.
      a(onclick="h('15')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 21.08.2012
      div( id='15',style="display:'none';", class='oscuro')
        br
        Професора в шокле была как обычно недовольна, что на ее урок половина народу не пришла, половина пришла ко второй части, а оставшиеся были сонные и пьяные, а все потому что вчера были фиеста! Она сказала: "Ребята, но вчера же был понедельник был и гулять в понедельник не хорошо!" ))))))) Но это Канары - тут жизнь такая!:))))
        br
        После школы я пошла на пляж к своим одноклассникам и другим ученикам, которые все вместе живут в резиденуции от школы. Сегодня тут было много народу - из нашей группы, из группы А2 и из группы В2. Чехи даже принесли матрац надувной для купания в воде. Но я только загорала и болтала с Моникой и с Джоном-греком. Все пошли в кафешку кушать мороженное, но я осталась на пляже, т.к. от холодного мороженного у меня заболит горло. Ко мне подошли Вова и Давид, но т.к. еще очень жарко для них, то они пошли в кафешку "Шоколад" сьесть мендальный тортик и потом через час вуернулись ко мне. Когда жара спала то  мы стали играть в теннис сначало с греком, который оказался очень озартным и очень хотел выграть. Но быстро устал и я играла с Вовой. Все потихоньку разошлись кто куда - кто в кафе перекусить, а кто домой. А мы с Вовой поиграли в теннис до темноты и пошли прогуляться по пляжу до оранжевой кафешке, в которой скидки и купили много пироженных и вкусный свежевыпеченный хлеб. Перед сном я сделала домашку и посмотрела свой сериал на испанском - "Зачарованные".
      a(onclick="h('16')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 22.08.2012
      div( id='16',style="display:'none';", class='oscuro')
        br
        После школы все решили не идти на пляж как обычно, а отдохнуть от него, т.к. половину народу заболело (после вчерашнего мороженнного, которое я не ела), а потловина людей обгорела на солнце. Пошли с Моникой гулять: встретились на набережной, сели в кафешке на площади Ст. Каталины, зашли в торговый центр "Эль Муэле", где купили одежду: мне кофточку и еще подарок для Вовы. Вова в это время уже ушел на встреу с Давидом. Потом встретились с 2-мя чехами перед политехническим музеем и пошли его смотреть. Вход для студентов стоит 3,5 евро, но это стоит того, чтобы увидеть что внутри! Внутри 4 этажа интересных экспонатов электроники, техники и даже есть космические корабли, самолеты, истребители и кости денозавров :) Похож на наш политехнический музей, но отличие в том, что тут у каждого экспоната можно нажать кнопку и экспонат придет в движение: запуститься вечный двигатель или водяная станция, или фабрики по изготовлению машин, или ветряная мельница и т.д. Очень интересно и Вова даже после моего рассказа решил сюда сходить. Давид нет, потому что вход стоит 3,5 евро. Незаметно пролетело время в музее так, что Вова и Давид ждали меня 5 минут перед музеем, а до этого ходили в El Corte Ingles возращать деньги списанные с общего счета дома, одной хитрой соседкой! )))) Я распрощалась с однокласниками и мы втроем пошли перекусить в итальянский ресторанчик на Кантересе, в котором самая вкусная пицца. Давид сначало не хотел идти (как обычно), но потом ему понравилось: "Красивый вид, море, закат, друзья - как хорошо!" - сказал он, сидя на балкончике ресторана и попивая пиво :)))).
        br
        Но на этом день не закончился! Мы все вместе пошли на пляж и ребята сели играть в шахматы. Россия как всегда выграла! Хотя Давид почти выигрывал, но как обычно предвещая свою победу поспешил радоваться и сделал ошибку и проиграл. Потом он чуток поиграл в теннис и поехал домой. А мы с Вовой играли в теннис до 23-30! Набережная очень хорошо освещается фонарями и играть удобно и приятно (сегодня совсем не холодно ночью). "День комплета" - как сказала про наш день професора в классе ;).
      a(onclick="h('17')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 23.08.2012
      div( id='17',style="display:'none';", class='oscuro')
        br
        В школе играли в игру "Табу" - по карточкам объяснять слова - чуть не подрались! )))) Забавно было какие все азартные! А вечером сегодня футбол и играют 2 самые крутые команды Испании - Барса и Мандрид. Училка опрасила всех кто за кого и сказала что если выграет Мадрид то не задаст домашки, а если Барса - то двойную!)))) Вечером нас позвали вместе со всеми на площадь Фаррай смотреть матч на Террассе (это бар, который выносит столы на улицу)! Еще мы сегодня едем на экскурсию в небольшой городок на севере острова - "Firgas", где красивый Ботанический сад и площадь с гигантским фонтаном-лестницей и лавками-мозайками.
        br
        После школы мы поплыли на барру! Это каменный риф в 100 метрах от берега на нашем пляже, который показывается из воды только тогда, когда отлив. Там много разноцветныз рыб: черные, зеленые, синие, большие и маленькие! Люди рядом с нами видели даже осминога в воде! Я плавала в водных очках и видела дно и рыб, которые подплывают совсем близко, так, что можно их почти схватить рукой. Это был мой 2-ой раз на барре! После еды покушали дома и поехали с Давидом в "Firgas". Вначале зашли в ботанический сад с павлинами, бананами и мангами. Вход оказался платным - 6 евро со взрослого и поэтому Давид идти отказался "оЧЕНЬ дорого!". Мы поехали дальше в цент города где находятся основные красоты. Ступенчатый длинный фонтан и сбоку него лавки выложнные из мозайки, на которой изображен каждый городок острова с гербом. Выше находятся карты в 3Д каждого острова из Канарских островов, с информацией о  площади, высоте и ширине. Правее площадь с церковью и смотровой площадкой, с которой видно море и прибрежные городки. Давид сказал что тут пахнет как в Alicante (на материковой части Испании, где живет его отец и ему там очень нравится). Поэтому мы прошлись по этому парку 2 раза. Фотографировались, гуляли, смотрели и поехали обратно в Лас Пальмас смотреть футбол.
        br
        Наши однокласники уже сидели на площади и мы их легко нашли. Тут были почти все: Моника, Анна, Джон-грек, Патрик,2 чехов и 2 новенькие девочки из Германии. Футбол был почти некому не интересен, только Джон и Парик смотрели с интересом. Джон вскакивал со стула при каждом опасном моменте и ругался неприлично на 3-ех языках (греческом, английском и испанском), когда его команда Барса не могла забить гол! В середине 2-го тайма мы пошли в другой бар - в котором были в прошлую пятницу, а из бара пошли в туже дискотеку 3х1! Не смотря на то что сегдня четверг в клубе было полно народу! Музыка веселая и динамичная и мы много танцевали с девчонками, пока за мной не пришел Вова в 2:30 и забрал меня домой. С ним не заболуешь. :)
      a(onclick="h('18')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 24.08.2012
      div( id='18',style="display:'none';", class='oscuro')
        br
        Я героически встала в 9 утра и пошла в школу! В школу не пришло больше половины группы и мы сказали професоре, что их можно не ждать, т.к. вчера была сиеста! ))))))))))) Послушав рассказ про вчерашний день, она была в шоке! И отменила свои планы в просмотре испанского кинофильма. :)
        br
        Проходили новую тему, а во второй части урока играли в игру - нужно придумывать слова на заданную букву. Я поспала в сиесту, т.к. ночью легла после 3-ех! Потом за мной зашел Вова, который был на интеркамбиусе с Давидом, и мы вместе пошли в ресторанчик "Тапа ен Тапа" где ребята заказали себе вкуснейшие кальмары а я сладкий десерт. Затем погуляли по наребежной и Вова выпил чая с пироженкой в оранжевой кафешке.
        br
        Сегодня не пошли на интеркамбиус с канарскими знакомыми, которые учат русский язык в официальной школе яфзыков - решили отдохнуть 1 пятницу от еженедельных встреч (хотя я конечно хотела идти).
        br
        Давид пошел домой, а мы с Вовой пошли гулять на площадь Ст.Каталины, где красивый фонтан подсвечивается фонарями, когда стемнет. Посидели на лавочке перед фонтаном в романтичной обстановке и еще  раз позавидовали сами себе - как тут хорошо нам живется!
        br
        Пошли домой. Вова спит а я пишу блог за все дни которые я пропустила.  И параллельно смотрю свой сериал на испанском - "Зачарованные". Все написала - ложусь спать. Буэнос ночес, чикос.
      a(onclick="h('19')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 25.08.2012 - 31.08.2012
      div( id='19',style="display:'none';", class='oscuro')
        br
        Неделя прошла хорошо и почти спокойно и однообразно: каждый день пляж днем после школы, купания, загорания и игра в пляжный теннис, потом бар-клуб и дискотека или прогулка по городу. Все эти пляжи и дискотеки мне помогают разговаривать на испанском все с большей легкостью Помогают уже думать на другом языке, а не переводить русскую речь в испанскую. Хорошая практика языка и веселое времяпропровождения.