
html
  head
    meta(charset="utf-8")
    style .oscuro {display: none;}
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="javascripts/myopenstat.js")
    script function h(i){var el=document.getElementById(i); el.style.display = (el.style.display === "block") ? 'none' : 'block';}
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34005435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body( bgcolor="#555555")
    div( style="font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;color:#BBFFBB;font-size:24px;")
      h1 Vida nueva
      a(onclick="h('1')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 01.10.2012 Подготовка к экзамену DIE
      div( id='1',style="display:'none';", class='oscuro')
        br
        Проснулись утром по будильнику в 10-30 и отключив его встали около 12... Теперь наши уроки начинаюся в 13-30 нам не надо вставать рано. С одной стороны это хорошо, а с дургой нужен какой-то редим. 
        br
        В группе у нас всего 2 чловека: я и Вова! :)))) Преподаватель проверил наши, написанные дома тексты про биографию и стал объяснять граматику, которую Вова заказал заранее и написал на листочке темы. Но в конце урока он нас спросил - хотим ли мы сдавать экзамен DIE, котиорый принимается тут, а потом отправляется в Саламанку в университет, там его проверяют и присылаю диплом этого университета. Мы даже не знали о такой вероятности, а знали только про экзамен и диплом DELI. И согласились сдавать этот экзамен. Тогда профессор сказал что будет нас готовить 2 недели к экзамену по 3 часа в день и чтобы мы серьезно относились к обучению и не ходили на дискотеки (мы итак на них не ходим, но он имеет большой опыт с другими студентами-прогульщиками). Итак теперь он нам будет давать каждый день огромное домашнее задание! И плакал мой отпуск последжние 2 недели на пляже и в клубах-дискотеках, т.к. я хотела закончить учебу до приезда друзей и с ними валяться на пляжах целыми днями! :(((((((Но зато мы получим дипломы DIE (Diplom Internacional de Espanol), что не так уж и плохо!
        Весь отсавщийся день мы делали домашку и читали в интернете информацию про этот экзамен.
      a(onclick="h('2')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 02.10.2012
      div( id='2',style="display:'none';", class='oscuro')
        br
        Изменили свой распорядок дня: встали по будильнику в 10-30 и пошли позавтракать в кафе (нашу любимую), а из кафе сразу на пляж загорать и купаться! На нашем пляже "Чика" утром мало народу и мы легли прямо около воды. Море спокойное и ясное. Пока загорали температура поднялась за полчаса с +26 по +31 градуса и народ с каждой минутой все прибывал и прибывал на пляж. 
        br
        Еще один забавный момент: когда мы пришли весь огромный пляж был пустой, и пришла одна тетка и легла в метре от нас! Так что почти уже ногами доставала до наших полотенец! Это видимо какой-то непонятный прикол, который мы не понимаем, т.к. весь пляж свободный а она легла так близко как буто леч больше некуда! :))))
        br
        Искупались и вернувщись к полотенцам увидели что уже прилив и вода почти мочит наши вещи. В 13-00 пошли домой, перекусили бакадильей и побежали в школу. В школе нас ждал уже преподаватель на ресепшене с распечатанными анкетами к экзамену (он и Оливер уже обсуждали эту тему о нас).
        br
        Теперь из-за предстоящего экзамена, уроки проходят в режиме подготовки к нему. В бешенном ритме нам рассказываются нюансы граматики и мы делаем тонну упражнений! 3 часа пролетают за минуту! И еще раз нам напомнили что надо работать много чтобы сдать экзамен (в принципе я итак много всегда делала домашки и много занималась). Дали тройную домашку на завтра, т.к. у нас есть теперь еще и утро чтобы его делать. :)))) Плакал мой беззаботный отдых на пляже и на дискотеках :(((((. 
        br
        После школы зашли в офим по сдаче машин, чтобы узнать наши права действуют длшя аренды машины или нам она не светит. Мужик в офисе сказал что нет, но потом я достала ему права и сунула и он стал звонитиь куда-то и спрашивать так :" Российские права подходят под международный стандарт или нет?" Ему ответили утвердительно и он сказал что машину мы снимем и дал брощурку с ценами.
        br
        По дороге домой покушали в ресторанчике на Кантересе кальмары и картошку в мундире и хлеб с маслом и чесноком. Т.к. дома есть нечего, а чтобы идти в магазин за продуктами не было сил, т.к. ели мы последний раз еще перед школой - в 13 часов! Пошли в Спар покупать еды, чтобы есть дома (как всегда). И с огромными сумками пошлди домой. Тут все находиться настолько близко друг к другу, что за покупками ходить одно удовольствие и в супермаркетах нет ожиотажа и очередей!
        br
        Пришли домой и начали делать тонну домашки, а еще надо как обычно писать текст на испанском языке, а тема очень сложная! Приготовил тыквенную кашу с рисом и медом - бегу ее пробовать (никогда не ела такое)! :)))
        br
        Рецепт Тыквенная каша с рисом и медом:
        br
        Рис в микроволновку, тыкву резать и варить. Все смешать и добавить мед и масло по вкусу.
        br
        Продукты:
        br
        Рис 0.5 ст.;
        br
        Вода 1 ст.;
        br
        Тыква 400 гр.;
        br
        Мед 1.5 ст. л.;
        br
        Общее время приготовления – 40 мин.
        br
        Приятного аппетита
		09.10.2012
		     Утром на море, купаться и загорать. Оля предпочитает быть на солнце до 11-00 т.к. в первый день на пляже она сгарела. Потом мы идем завтракать в кафешку вкусными бокадильями, свежевыжитым апельсиновым соком и чам/кофе, сидим болтаем, неспеша попивая чай. Очень не привычно есть так медленно, т.к. обычно мы ели в паузе между занятиями и на еду давалось 25 минут! Затем мы расходемся по домам - Оля идет по магазинам шопиться, а мы делаем домашку и идем на занятия. После занятий поехали на Вегету (историческая часть города) и гуляли там по всем-всем улочкам, фотографировались, сидели на лавочкам в маленьких двориках, и под конец сели перекусить в ресторане. Вернулись домой поздно.
		10.10.2012
		     К нам приехали еще друзья и сразу по приезду подошли к нам на пляж около 11 утра, где я и Оля купались и загорали все утро. Все вместе пошли завтракать в кафе Бретзель около нашего дома, т.к. ребята тоже ничего не ели и ждали заселения в отель до 13 часов. Договорились встретиться после наших занятий у нас дома. Встретились и пошли гулять по Кантересу в сторону Аудиторио, где било какой-то концерт с барабанами. На обратном пути сели поесть в ресторан на набережной "Ла Таперия".
		11.10.2012
		     По нашему новому распорядку пошли в 10-00 часов на пляж, где к нам присоединились Даша с Русланом. Они впервые купались в атлантическом акеане в нашей "деревне" (как они отзываются о столице Канарских островов - Лас Пальмасе). Около 11 пошли втроем с Олей позавтракать в итальянскую кафешку, где проболтали до 13 часов, а нужно идти домой и делать домашку. В школе препод еще раз напомнил о важности предстоящего экзамена и о важности делать все-все домашнее задание (мы итак его делаем каждый день). Вова напомнил ему еще раз что к нам приехали друзья и в предстоящие праздники мы снимаем машину, чтобы объехать весь остров с ними. Тогда препод зада еще больше домашки - написать 3 текста на испанском по 250 слов каждый.
			 После занятий в школе мы пошли в магазин за продуктами и дома ждали всех гостей, чтобы договориться куда едем завтра и что будем смотерь. Зашли все вместе в офис аренды машин, уточнить завтра они работают или нет, и нам сказали что утром будем работать гараж с машинами. По дороге домой зашли в сувенирный магазин "Кактус", где я накупила себе наконец-то украшений с символами индейцев Гуанчи (которые жили на этих островах раньше до приезда сюда испанцев). Купила серебрянный кулон и браслет, и еще магнитики с нашим городом Лас Пальмас (я очень люблю магниты с теми городами куда мы ездили и сейчас на холодильнике висит 4 штуки: Берлин, Тенерифе и 2 Лас Пальмас). Ребята тоже накупили сувениров и каких-то вещей и все пошли ужинать в ресторан. После ужина пошли на пляж - сидеть на песке около воды и распивать вино. Был прилив и вода подбиралась к нам все ближе и ближе, так что приходилось 2 раза двигаться от моря подальше. Засиделись до поздна, а завтра раньше вставать и ехать на экскурсии.
		12.10.2012
		     Вышли с самого утра и пошли снимать машину. Сняли ситроен С3 на 3 дня за 80 евро на ручной коробке передач (автомата тут не оказалось на всем острове, т.к. мы обзвонили много офисов и все говорят что нет). 
			 Поехали по северу острова: сначала в пещеры Гуанчи в городе Гуймар "Куэва Пинтада" (мы там с Вовой не были). Музей нам понравился, там посмотрели 3-4 фильма про жителей этих пещер и их быт. 
			 Оттуда поехали в Агаетти купаться в натуральных бассейнах и смотреть Дедо дэ Диос (который никто смотреть не захотел в итоге, т.к. всем оказалось важнее поесть в ресторане а достопримечательности не интересны). 
			 И самое главное за сегдняшний день по плану - это подняться на гору Рокки Нубла и там посмотреть закат! Как обычно виды с самой горы были великолепны и я сделала много красивых снимков на горе на фоне заката. Возвращались уже в темноте, но дорогу нашли сразу и не заблудились негде. Объехали весь остров с запада на север - вдоль. Все было весело и нам понравилось.
		13.10.2012
		     Проснулись в 10 утра от того что мне позвонила мама, чтобы сказать что моя открытка и магнитик ей пришли сегодня - в ее День Рождения! Мы посылали поздравительную открытку недели 3 назад и как раз к нужному числу она дошла! Открытка очень понравилась, все довольны. :)
			 Нащи друзья сегоня уехали в аквапарк и на картинг (если нашли его конечно), а мы не любим аквапарки и сегодня устроили себе день отдыха.
			 Отоспались, объелись дома и в кафешке и обыгрались на пляже в теннис. Купили продуктов и пришли домой, чтобы чуть-чуть сделать домашку и пойти в кино (т.к. мы хотим посмотреть еще 3 фильма тут а времени нет уже). 