
html
  head
    meta(charset="utf-8")
    style .oscuro {display: none;}
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="javascripts/myopenstat.js")
    script function h(i){var el=document.getElementById(i); el.style.display = (el.style.display === "block") ? 'none' : 'block';}
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34005435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body( bgcolor="#555555")
    div( style="font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;color:#BBFFBB;font-size:24px;")
      h1 Vida nueva
      a(onclick="h('1')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 01.07.2012
      div( id='1',style="display:'none';", class='oscuro')
        img( src="images/DSC_0303.jpg", align="left")
        br
        Мы тут уже ровно месяц! И уже оиспаницирповались совсем!))) Пошли в бар смотреть финал Еврокопы ("еврокубок")! Несмотря на то что народ смотрит футбол в основном дома со своими родвтвенниками и друзьями, все бары на нашей набережной были перепонены. Но мы нашли место где сесть - в кафешке где мы завтракаем с видом на море. Сумашедшие болельшики от нервово выбигали из зала, кричали неприрывно и вообще хватали стулья и кидали их! Испания выиграла 4-0!!! Ураааааааа! Победа там где мы:)))))
      a(onclick="h('2')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 02.07.2012
      div( id='2',style="display:'none';", class='oscuro')
        br
        Добро пожаловать в новый класс: у меня А2, а у Вовы вообще В1 (для самых умных :)). У меня 6 учеников в группе а у Вовы 5. Все из разных стран: Из Голандии, Германии, Финляндии и даже Америки. А у Вовы из Зимбабве :))).
        br
        Захотелось побывать в новом месте и поехали после школы на южный пляж - Playa de Ingles (ближе чем Маспаломас, но там же на юге острова). Пришли на станцию, а автобусов нет и сначала расстроились, но потом нашли детальное расписание по которому определили, что есть автобус, который отходит от другой станции (в центре города) и поехали на нем. Ах, какой же прекрасный пляж! И чистый, и песочем белый и народу не так много, т.к. уже 17 часов! А солнце еще высоко и в тени +31! Вода уже в море нагрелась и медуз тут нет. Назогарались и накупались в свое удовольствие до 20 и пошли прогулялись по всей набережной и сели поужинать в ресторанчик. Я заказала местную канарскую вежую рыбу - "muy rico"! ("очень вкусно!"). И поехали домой (как всегда на последнем автобусе) и через час были дома. Через силу начали делать домашку и не доделав легли спать! Утром сделаем :)
      a(onclick="h('3')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 03.07.2012
      div( id='3',style="display:'none';", class='oscuro')
        br
        Ой начались распродажи во всех-всех-всех магазинах и бутиках! Скидки 50%! Скидки 70%! Все туристы всё раскупают! Пошли и мы походить по магазинам и посмотреть кроссовким для спорты с хорошей подошвой, чтобы ноги во время долгорй ходьми не уствали. Тут, как я уже писала, очень распространен "footing" - энергичная ходьба по набережной и немного менее распространен бег :) Вот и мы решили приобщиться к спорту - к "footing" а для этого нужна хорошая обувь. Вначале пошли в огромный торговый центр  "EL Muele" (около морского порта) и там немного накупили мне одежды и померили некоторый кроссовки. Оттуда пошгли в самый популярный здесь огромный универмаг одежды (6 этаже одежды известных марок) - El Corte Ingles. Испанцы очень гордятся этим торговым центром и училка почсти на каждом занятии гооврит про него и про скидки! Скидки 2 раза в год - в июле-августе и в январе. И действительно тут огромнейшие скидки дешевле раза в 2 или в 3 чем в Москве все стоит. Намерились кросовок, но из такого огромного выбора адидаса, рибока и найка мы так не решились пока выбрать что-то одно:) Купили мне шорты и при оплате на кассе продавщица сказала что с паспортом туриста дают еще скидку 10% и как жаль что мы не взяли его с собоы. Так что когда пойдем покупать кроссовки надо взять паспорта чтобы было еще дешевле.
        br
        По дороге к дому (с пакетами покупок) зашли в паризмахерскую, чтобы я подстриглась. Обычно мне Вова переводит сложные неразборчивые слова испанцев, а тут пришлось объяснять парихмахерше самой какую стрижку я хочу и какой длины. Вроде получилось объяснить и получилась модельная стрижка (за 6.95 евро= 292 р.) не хуже чем я стриглась в Москве, даже лучше :)
      a(onclick="h('4')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 04.07.2012
      div( id='4',style="display:'none';", class='oscuro')
        br
        Поиски кросовок продолжаются и мы пошли в третий огромный торговый центр - Las Arenas. Тут на крыше было цырковое представление и мы немного посмотрели на испанских клоунов и гимнастов )))). Намерились кроссовок, но во вчерашнем универмаге действительно они дешевле и выбор больше. Так что мы уже знаем какие мы хотим и купим их там с большой скидкой (если не забудем взять паспорт). Пошли домой а по дороге не удержались чтобы не зайти в можный ресторанчик на набережной (дезайнерски отделанный). Пошли по набережной домой. Вся наша набережная длинной примерно 3 км а в день мы проходим ее где-то половина, т.е. в день мы проходим 3 км навреное :))) Неплохо... Вдоль набережной много смортивных и баскетбольных площадок.
        br
        Мы скоро купим баскетбольный мяч (и кросоовки конечно) и будем приходить сюда играть в баскетбол! :) А еще у нас есть желание купить удочки и ловить в море рыбу, как делают тут многие! Рыбы в море очень много (ее даже видно с набережной в местах где каменистый берег). Планов много :)
      a(onclick="h('5')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 05.07.2012
      div( id='5',style="display:'none';", class='oscuro')
        img( src="images/DSC_0327.jpg", align="left")
        img( src="images/DSC_0568.jpg", align="left")
        br
        Как то неожиданно нам сказали что экскурсия сегодня состоиться (обычно надо ждать 2-3 недели). И вот после школы мы еле успели забежать домой пообедать (нам идти от школы до дома 3 секунды) и в 14-00 уже началась экскурсия. Нас повезли смотреть ботанический сад Жардин в котором собраны типичные для Канарии деревья, кактусы и растения и даже птицы и рыбы. Но т.к. этот год самый засушливый за последние 30 лет КАнарских островов, то в парке мало конечно зелени, в основном пальмы и кактусы. Экскурсовод нам рассказывал уже на беглом испанском, т.к. группа подобралась из уровней В1 и даже В2, а я со своим накчальным тут ничего не понимала:) Но парк нам очень понравился - надо сюда приехать еще раз на весь день, т.к. за 1,5 часа мы успели его только быстренько пробежать. Затем мы поехали на Вулкан Банадор - это огромный спящий вулкан. Я и Вова до сих пор ни разу в жизни не видели в живую кратеры вулканов. Поднялись на самый пик соседней горы и перед нами открылся вид - жерло самого вулкана. Вау :). Вниз к жерлу идут пешие тропинки и спуск пешком занимает около 2-ух часов, так что я бы просто погуляла сама, но конечно Вова не согласиться столько пешком ходить :). Далее мы проезжали мимо огромных кампов для гольфа и покатались по городку Сантиа Бригида рядом с которым выращивают виноград, помидоры и папаий.
        br
        Вершувшись домой так захот елось спать, т.к. ночью легли в 02 и встали в 7:( Поспали в сиесту в сласть, да так что уже и в магазины не успели (Вова все жаждит купить кросовки и мяч баскетбольый и удочку кончено :)). Сделали домашку: мне задали написать от себя на испанском большой текст и я писала на тему "Жизнь в Лас Пальмасе".
      a(onclick="h('6')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 06.07.2012
      div( id='6',style="display:'none';", class='oscuro')
        img( src="images/DSC_0602.jpg", align="left")
        br
        Скидки! Скидки! Скидки! Пошли по магазинам! И накупили мы всего-всего: 2 пары кросов для ходьбы и баскетбола, мяч баскетбольный (его Вова выбирал особенно тщательно - минут 20 кидал и бегал с мячом по магазину:)), и ракетки пляжные (этот вид спорта тут особенно распространен, такого мы еще нигде не видели (мягкие ракетки, размером больше тенисных, но меньше баскетбольных и мячик меньше теннисного) - будем пробовать играть. И конечно купили удочку рыбу ловить:)))) Плюс ко всем скидкам мы получили карточку туриста на 10 %% которая действует 1 день и все покуки стали еще дешевле! )))
      a(onclick="h('7')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 07/07/2012
      div( id='7',style="display:'none';", class='oscuro')
        br
        Надели новую обувь и пошли вперед - к новым приключениям, рыбу ловить :))) Идем с удочкой - все на наc смотрят, завидуют видимо (они то все купаются, загорают, а мы рыбу ловить идем! :))))) Итак, ушли далеко-далеко направо по набережной (Canteras) и там сели на скалы рядом с такими же рыбаками-профи :))) Сидим, ловим: леска запуталась, катушка развалилась ))) Вообщем пока ничего не поймали зато загорели на солнце сильно (хотя небо все в тучах сегодня и не жарко). 
        br
        Пошли домой кушать часов в 19 вечера а ночью (после 10) снова пошли на ночную рыбалку, но уже поближе - около памятника рыбаку рыбачить.
      a(onclick="h('8')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 08.02.2012 День спорта.
      div( id='8',style="display:'none';", class='oscuro')
        br
        Позавтракали в "ажиотажной" кафешке на пляже (мы ее так называли, потому что в ней все время куча народу закупают себе булочки, пирожные и хлеб) - очень все вкусное и свежеиспеченое! Жалко что она находится в 10 минутоах ходьбы от нашего дома и школы - не успеваем в ней в будни кушать. Нам так понравился завтрак что решили тут закупить себе круассанов и пироженных! Тем более тут тоже акции - 3 по уене 2-ух :) 
        br
        Пошли играть в баскетбол на площадку. Площадка была пустая, т.к. накрапывал небольшой дождь (2 капли), но через 5 минут площадка уже высохла и стало душно играть. Пошли играть в следующую игру - в пляжный теннис на песке. Поиграли так что устали совсем :). Вот такие мы тут спортсмены теперь.))))
      a(onclick="h('9')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 09.07.2012
      div( id='9',style="display:'none';", class='oscuro')
        br
        В школе куча новеньких и ВСЕ в моей группе!!! АААААА! И теперь у меня 8 человек! Жуть. Занятие прошло тяжеловато, тем более что мы прошли эти 2 сложных прошлых времени, а у меня ничего не запоминается...
        br
        А от Вовы, после его рассказов, про выходные требуют рыбу:))))
        br
        Днем - сиеста у меня была, а Вова читал детективы на испанском. Пошли обедать в итальянский ресторан - захотелось на настоящей пиццы. Пицца тут дейтсвиетльно была супер вкусной и огромной и вкусное тирамису! И еще конечно же к нам привязался официант (разговорчивый слишком). Говорит что как там в Росии очень холодно и пьют водку. Мы его сначало не понимали, а потом я спросила откуда он - из Италии и поняли что он говорит на "ломанном" испанском, даже на итальянском и даже не старается выговаривать испанские слова:) Сказал что в Италии очень холодно - +5 зимой и он ходит в майке, мы посмеялись.
        br
        Пошли в магазин покупать свечки и шарики для завтрашего праздника - День Варенье Вовы!!! А потом в торговый цент Эль Корте Инглесс за едой и за шоколадками/конфетками для одноклассников :). Накупили куча вкусностей и домой уже вернулисть в 11 ночи и сил домашку делать даже не осталось (я ее утром делала). Преподша видимо уже пронюхала что у Вoвы остались ответы и дает нам совершенно новые задания на распечатанных листах )))))).
      a(onclick="h('10')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 10.07.2012 Felis Cumpleanos!!!
      div( id='10',style="display:'none';", class='oscuro')
        br
        День варенье! Урааа! Вова раздал в классе всем "студентам" шоколадки, а так же своей прошлой преподше (моей нынешней) и моей прошлой - они ооооочено обрадовались и поздравляли-поздравляли его! А я одела свое летнее платье-сарафанчик и весь день мной восхещалась училка и вся группа и прошлая училка))) Все говорили комплименты мне, а я отвечала что повод - день рожденье моего мужа)))
        br
        Позвонили Вове из Москвы - предлагали работу, забавно :)))))
        br
        Мы отмнчали ДР в ресторанчике под названием "Las Tapas" ("закуски") и наедались вкусностями: тапасами, рыбой и осменогом:) Я попробовала испанское вино "тинто"-красное, но так себе, ничего особенного. По дороге домой зашли в кафешку в час скидок кучу всего: пироженные, тортики, хлеб и т.д.! Ох уж эти скидки 50%%  тут:))) Дома для Вовы были надуты шарики и зажжены свечки в тортике! Он загадал желание (не знаю какое) и отмечание ДР продолжилось до 2 часов ночи! И домашку я не сделала -завтра надо делать с утра, а то будут ругать!:)))
      a(onclick="h('11')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 11.07.2012
      div( id='11',style="display:'none';", class='oscuro')
        br
        Ну все как обычно: школа, после дома обед, а после мы пошли играть на пляж в пляжный теннис на песке! Очень понравился нам этот вид спорта. По дороге домой зашли во фрутерию и накупили столько свежих фруктов: целую дыню, манго, персики 2-ух сотротов, сливы, киви какого-то другого сорта (не волосатые)! Теперь неделю будем есть эти фрукты (мы так думали - и сьели все это за 2 дня!:)))
      a(onclick="h('12')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 12.07.2012 Масполомас
      div( id='12',style="display:'none';", class='oscuro')
        br
        Поездка на юг острова - к маяку в Маспаломас, как всегда оказалась интересной и увлекательной! Даже купили со скидкой мне шлепки в магазине "Лакост" (почему-то фирменный магазины лакоста находятся только тут,а в нашем городе мы их не видели). Перекусили в ресторанчике с большим выбором свежевыжитых соков: манго, папайя, кокосы и т.д. Купались и играли много в теннис! А я то хочу лежать на полотенце и загорать! И плавать в море конечно (вода уже значительно тепелее чем была в начале июня, когда мы только приехали на остров). :)))) 
        br
        
      a(onclick="h('13')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 13.07.2012 Jazz&Mas
      div( id='13',style="display:'none';", class='oscuro')
        img( src="images/DSC_0033.jpg", align="left")
        br
        Сегодня куча-куча дел! Вечером намечается 2 интеркамбиуса - один русский по пятницам и второй общий (английский, немецкий и тд.). Мы еще не решили на какой идти и посетили оба по-порядку :) Где интересней - там и останемся. Первый проходил в нашем районе в баре "Эль Апперетив" и там даже было объявление наклено на стене. Там уже было 3 испанца, говорящий по-русски. Они  собрались сегодня тут, чтобы отметить день рождение. И т.к. нормального интеркамбиуса сегоня тут не намечается, то мы решили попрощаться с ними и поехать на вторую встречу - на Вегете. 
        br
        Получилось очень забавно когла мы на автобусе, проехав свою станцию, доехали загород на конечную и потом по этому же билету ехали назад - кактались в автобусе около часа за 2 евро)))) Еле-еле нашли этот бар за 5 минут до конца встречи - все уже сидели за столиками по 2 человека и общались. Но в это время на главной площади перед собором начинался концерт джаза и мы пошли его смотреть. Мероприятие спонсировало пиво "Хайнекен" - совсем не вкусное (мы купили на пробу 1 стакан). Киловаты звука на тихой площади туристического района нас восхитили. Все площадь была заполнена народом. Несмотря на то что мы не слушаем джаз, часовое выступление первой группы нам понравилось. Потом стало холодно и мы поехали домой на такси (хотя послушать еще хотелось)... 
      a(onclick="h('14')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 14.07.2012 День intercambius
      div( id='14',style="display:'none';", class='oscuro')
        br
        После завтрака в "ожиотажной" кафешке пошли на пляж играть в теннис и купаться! Играли и купались до 16 часов! Уже без сил вернулись домой а еще впереди важная встреча!
        br
        Голова идет кругом после 3 часов интеркамбиусов! Это общение между людьми-носителями языком на своих языках (например час на испанском и час на русском). Так вот - после того как мы разместили объявление в городской школе языков ("мы хотим проводить интеркамбиосы испаснкий-русский"), то где-то через день-два нам сразу позвонили и договорились провести интеркамбиус сегодня в 17-30. Мы пол часика посидели на лавочке -привыкли, что все испанцы опаздывают:) Встретились и сидели в итальянском ресторане 3 часа - общались попеременно на 2-ух языках (то на русском, то на испанском). Давид (так зовут испанца-канарца) был в Москве и хочет работать и жить именно в России! И ему очень нравиться разговаривать по-русски (когда он разговоаривает он ощущает себя "хорошо" - как то так он нам это объяснил). Очень странно это :)))) Мы посмеялись над ним и сказали что "а мы хотит жить и работать здесь, потому что здесь тепло"! :))) Договорились на завтра снова встретиться - разговаривать. Я жду пятницу чтобы со мной был отдельный интеркамбиус!
      a(onclick="h('15')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 15.07.2012 
      div( id='15',style="display:'none';", class='oscuro')
        br
        Утром интеркамбиус часа на 2, после мы сходили в единственный открытый в городе магазин продуктов и наккупили еды. После обеда пошли играть в пляжный теннис, а потом в ресторан, в котором отмечали Вовин ДР - "La Taperia" и в нем напробовались ВСЕ виды тапаса (закусмки): с рыбой, с сыром и мармеладом, с кальмарами и водорослями (не знаю всех названий и поэтому пишу то, как нам показалось на что они похожи) :) Готовят они тут вкусно! С полными животами пошли домой спать...
      a(onclick="h('16')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 16.07.2012
      div( id='16',style="display:'none';", class='oscuro')
        br
        В школе новые ученики приходят ко мне в группу каждый день по 2 штуки! Некоторые правда после обеда куда-то пропадают, т.к. для них этот уровень слишком простой (в соновном итальянцы конечно - для них это как украинцам учить русский). Уже сидеть даже негде! Мы проходим 3 прошедщих времени! 
        br
        А у Вовы в группе учащихся все меньше и меньше :) Одна однокурсница из Сирии, которая живет тут с мужем - договорилась пойти с нами в кино сегодня на фильм Белоснежка и охотник", но из-за переезда не пошла (не позвонила нам). И поэтому венчером мы пошли играть в наш любимы теннис на песке! До темноты играли, а когда уже мячика стало не видно, то сели на песке и смотрели на море, на волны, на облака... Странно что через 1,5 месяца моря канарских островов ненадоело ... например в Мадрид, в Малагу или в Барселону...). Тут здорово...
      a(onclick="h('17')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 17- 19.07.2012
      div( id='17',style="display:'none';", class='oscuro')
        br
        Как лень писать блог, когда его нельзя никуда выложить и никто его не прочитает :(... Меня уже завалили письмами где продолжение блога, а мы не можем его выложить! Ничего, друзья, я стараюсь найти время чтобы описать происходящее тут, чтобы было интересно читать, и скоро продолжение будет выложено!
        br
        Итак в крадце что было в эти дни: каждый день мы играли в пляжный теннис на своем пляже - на Кантересе. Больше не купались, т.к. тут медузы и просто что-то не хотелось. В этом году нам все говорят, аномально появились мидузы на пляже в воде. Медузы 2-ух видов: красные и синии (синии более опасны, т.к. их укус может вызывать аллергию и поднимать температуру тела и т.д.). Говорят, что медузы приплыли к берегу острова, т.к. сейчас извергается маленький вулкан около самого дальнего острова "El Hierro", и поэтому вода поднимается из глубены на которой плавают медузы.Просто сидели на берегу моря и наблюдали закат, и море, и волны и т.д...
      a(onclick="h('18')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 20.07.2012
      div( id='18',style="display:'none';", class='oscuro')
        br
        Пятница - насыщенный день испанского! С 16 до 18 мы болтали с нашим новым испанским другом - Давидом, а после 18 в баре начались интеркамбиусы с испанцами, изучающими русский в школе языков. И они как раз таки не очень хотят говорить по-русски (не то что Давид) и поэтому все 3 часа мы слушали и говорили на испанском! Атмосфера встречи была дружелюбной и приветливой. Вова говорил в паре отдельно и я отдельно. Я, как ни странно, все понимала и могла ответить и все объяснить. Вообще Давид и Вова после сегодняшней встречи говорят мне что я болтаю "как попугай" на испанском, а до этого я почти молчала! Но я им пока не верю :)))) На встрече даже фотографировали и прислали нам на почту фотографии! В след. пятницу все тоже сюда придут (даже Давид который сначало не хотел идти, но ему сегодня очень понравилось).
      a(onclick="h('19')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 21.07.2012 -суббота
      div( id='19',style="display:'none';", class='oscuro')
        br
        Выходной провели супер активно! Столько эмоций и занятий, несмотря на то, что мы тут живем уже 1,5 месяца и вроде как бы должно стать уже скучно, а мы нахордим себе все новые  и новые занятия! ))))) Позавтракали вкусняшками в "ожиотажной"  кафешке (это уже стало традицией по выходным тут завтракать - тут супер предложения так что в 2 раза дешевле чем в других и в 5 раз вкусней свежая выпечка). А после пошли играть в конец набережной за Аудиторио в теннис. Сегоня прилив и пляж очень-очень маленький, а т.к. выходной то куча народу загорают и купаются - играть не удобно. Играли часа 2-3 и очень устали! Зашли в торговый центр "Лас Аренас". Скидки!скидки!скидки! стали еще больше - с каждой недели все дешевеет! Накупили мне кучу всего (тапочки, летний пиджак и т.д.)!
        br
        На веранде торгового центрав сели в кафешку, чтобы попробовать национальную еду - "чуррос" - это такая выпечка странная в форме закручивающейся трубочки. На нас не произвело впечатления - напоминает хачапурри:))))
        br
        Вечером пошли на главную площадь "Санта Каталины" смотреть представление театральной группы. Сейчас в городе проходит театральный фестиваль мирового маштаба и сегодня последний (или предпоследний день - не помню, т.к. не следим за новостями) посмотреть это шоу. И не мало важно, что все представления, шоу и концерты проходят бесплатно - для всех желающих! Приходи и смотри! 
        br
        Прямо посередине площади была построена сцена на которой выступала группа гимнастов-театралорв из 3-ех человек, выделывающих разные трюки (прыжк через кольца, глотание огня, жанглирование шапками и т.д.) все под музыку и непрерывно танцую - заводили народ перед главным шоу. И вот когда стемнело мы увидели красочное представление в воздухе!  На огромном кране над нашими головами происходило тетральное представление с фаер-шоу, цветомузыкой и прыжками с канатом! Такого мы еще не видели! Очень красиво и духозахватывающе! Я как могла фотографировала и снимала видео, но это не передаст всей зрелищности! Не пожалели что пошли! После представления народ повалил в рестораны и в кафе - подкрепиться и мы так же проголадались и пошли в нашу любимую "Лас Таперию" где успели занять столик. Но, к сожалению, у них уже кончились тапасы сегодня, которые нам так нравятся. Мы наелись основными блюдами и пошли домой, полные впечатлений!
      a(onclick="h('20')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 22.07.2012 - воскресенье
      div( id='20',style="display:'none';", class='oscuro')
        br
        Встретились с Давидом, болтать по-русски и по-испански (целыми днями болтаем да играем в теннис на пляже - не жизнь, а сказка какая-то :))). Он не смог в эти выходные повезти нас на самый офегительный пляж Гран Канарии и мы перенесли эту поездку на следующие выходные. Не смог, потому что занят выяснением отношения со своей бывшей девушкой из Росии (конечно, только русские так могут "пудрить мозги":)))). Она приезжает на материк - В Барселону или Валенсию и он хотел тоже ехать, но она сказала что они только друзья и он не видет смысла ехать, а она удивляется почему он отказался ехать тогда - прямо типичная санта-барбара! И вот они часами болтают по скайпу и по телефону с ней и он переживает, т.к. у него есть к ней чувства а у нее нету уже, т.к. он же безработный! А безработный Давид ей уже не интересен. Делал ей предложение выйти за него замуж 3 раза, но она отказалась... Грустная история... Вообщем ему не до пляжей сейчас и на встрече он был очень задумчивый и грустный.
        br
        Посидели в кафе и пошли по пляжу до телефонного магазина где звонки в Росию очень дешевые! Пока Давид звонил мы играли с Вовой в теннис, а потом он присоединился к нашей игре! И как типичный испанец - играл с неимоверным рвением! Как будто проходит чемпионат по теннису и нужно выиграть любой ценой! Извалялся весь в песке! Подвернул итак больную ногу! Вообщем испанцы все очень озартные и забавные :)))) 
      a(onclick="h('21')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 23.07.2012
      div( id='21',style="display:'none';", class='oscuro')
        br
        "Понедельник день - тяжелый", но только не тогда когда живешь на море, ходишь в школу языков, купаешься в море и играешь в теннис! Таким образом понедельник - лучший день недели (в общем-то как и все остальные дни недели недели):))))). Море сегодня "как тарелка" (это испанское выражение ознасающее спокойное море без волн) и купаться в нем одно удовольсвие! Я купалась в теплой воде до 20:30, пока не начались скидки в нашей кафешке около дома "счатсливый час" (все булочки, пироженные и хлеба стоят на 50%% дешевле). Я уже снова толстею тут от такого кол-ва сладкого и мучного!
        br
        А еще мы сегодня получили резиденцию!!! Но пошли в банк, чтобы открыть счет и напоролись на бешенные комиссии за ведения счета! В банке как обычно сделали комплимент что хорошо разговариваем на испанском, а я когда начала сыпать вопросами работкника банка - спрашивать про комиссии, то он сразу стал отправлять нас "на маньяну", т.к. рабочий день резко закончился (было 14:05)! Короче мы пока решили не открывать счет и снова без интернета...
      a(onclick="h('22')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 24.07.2012
      div( id='22',style="display:'none';", class='oscuro')
        br
        Итак немного про занятия в школе: у меня еще +3 новых человека в классе! И так даже лучше, т.к. занятия стали проходить более живо. Уже 12 человек и даже места в классе не хватате! А я все время опаздываю, т.к. мы встаем без 5 минут до начала занятий и прихожу самая последняя! :)))) У Вовы сегодня тоже +3 человека и ему нравиться меньше.
        br
        Днем снова интеркамбиус с Давидом, который я дома проспала))). Вова пошел один, а я присоединилась к ним спустя 1,5 часа :) Они снова сказали что я "попугай" и видят мой большой скачек в испанском. И что я все паузы в школе болтаю со всеми по-испанки и училка меня хвалит перед всей группой! А болтаю я по-ипански в школе т.к. не знаю английского, на котором переговариваются все его носители! А это хорошо для изучения ипанского именно его практиковать все время, т.к. разговаривать на своем родном языке в школе нет смысла.
        br
        Поиграли в теннис на песке и покушали в итальянской кафешке у официанта-амиго :))) Он очень радуется когда к нему приходят именно его клиенты, с которыми он болтал и считает что это в этом именно его заслуга. А мы приходим в этот итальянский ресторан т.к. тут самая вкусная пицца (вкуснейшая на всем острове). И тирамису очень вкусное! :))))
      a(onclick="h('23')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 25.07.2012 Voleibol
      div( id='23',style="display:'none';", class='oscuro')
        br
        В школе Вовина бывшая одногрупница (которая перешла на курс выше) из Швецарии, пригласила нас вечером играть в волейбол, в который собираются играть ее друзья-канарцы у которых она живет. Я согласилась и точно уточнила где и во сколько - в 7-00 в зоне спорта на пляже (левее нас метров в 300). 
        br
        Сразу после школы мы сели на песке с ноутбуком, т.к. Вова помогал Давимду сделать резюме и выложить его на хх. длдя поиска работы в Москве и в СП. Параллельно разговаривали. Пошли вдоль моря и сели в ресторане со свежей рыбой, т.к. я очень хотела есть и заказала себе вкуснейшую рыбу "от шефа". Встреча закончилась в 6 часов а в 7 начиналась игра. Мы успели забежать домой, чтобы переодеться, взять ракетки (на случай если в волейбол не состоиться или нам не понравиться). Прошлись по пляжу - никого не увидели, прошли в обратную сторону и заметили однокурсницу Бирну с ее подругой которые уже передивались и видимо собирались уходить. С ними так же был парень ее подруги - канарец. Подошли к ним, познакомились и они пригласили нас завтра ехать с ними на экскурсию в Agaete и в горы, смотреть Roce Nuble. Завтра интреркамбиус, но я согласилась (интеркамбиус можно и перенести, а такая удача - сьездить на экскурсию, выпадает не часто)!
        br
        Девчонки ушли на занятия йоги, а мы еще поболтали с канарцем (его зовут Тана). Он нам рассказал что работает в солдатом и его работа на горе, и что он стрелял без затычек в уши и сейчас плохо слышит (на правое ухо, а левое слышит хорошо). Когда зашел разговор про рыбалку он нам показал фотки рыбы которую поймал тут - каждая длинной метр! Я тоже хочу! После того как солнце зашло и он тоже ушел, мы поиграли в ракетки до темноты. Завтра после школы едем на экскурсию!!! Ураааааааааааааа!
      a(onclick="h('24')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 26.07.2012 Roce Nuble
      div( id='24',style="display:'none';", class='oscuro')
        br
        Фантастическая экскурсия!
      a(onclick="h('25')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 27.07.2012 День "Бла-бла-бла"
      div( id='25',style="display:'none';", class='oscuro')
        br
        После школы успели пообедать дома и пошли на встречу с Давидом в 16, а в 18 пошли все вместе в бар, где по пятницам собираются испанцы (изучающие русский). На этот раз тут не было русских, которые приходили на прошлой неделе, а только испанцы. Был новый парень, который изучает русский, потому что ему нравиться говорить по-русски. Говорил даже без акцента, что довольноо странно. А Давиду не понравилось, т.к. испанцы не хотят говорить по-русски, а собираются тут только чтобы пообщаться между собой. Сидели тут до 23 и я очень устала.
      a(onclick="h('26')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 28.07.2012 Суббота - день отдыха 
      div( id='26',style="display:'none';", class='oscuro')
        br
        Много спали, ели и ходили на пляж под пальмы с ноутбуком :) Ничего особенного не происходило...
      a(onclick="h('27')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 29/07/2012 La playa preciosa
      div( id='27',style="display:'none';", class='oscuro')
        img( src="images/DSC_0659.jpg", align="left")
        br
        Наконец-то мы поехали на прекрасный пляж на юге острова - Альфидерман, куда был завезен белый песок с Кариб! :) Нас повез на машине наш друг-канарец Давид) Целый день интеркамбиуса - это тяжело для мозга и я уже совсем облинилась и больше болтаю по-русски (устала от испанского и особенно от 3-ех прошедщих времен). Давид был задумчево-грустный на пляже, особенно когда начался закат, потому что последний раз он был тут со своей бывшей девушкой (русской), которую никак не может забыть, и все вздыхает и вспоминает ее... Он нам показал красивый сад с водопадами, кустами и все восхищался их красотой! А мы не настолько прониклись красотой всего вокруг, что было даже как-то неудобно нам :)))) Все таки русские более приземленные и цыничные люди чем испанцы и не умеют настолько восхищаться всем вокруг... 
        br
        Пляж оказался наикрасивейщим из все что мы видели раньше! Как нам и описывал его Давид: песок белый-белый и вода голубовато-бирюзовая и очень теплая! По дну видно как плавают рыбки! Так же тут было много яхт с дискотеками, танцующими, много катарамаранов с горками и даже большой теннис (все развлечение какие только пожелаешь). Песок, как говорят, сюда завезли с Кариб, как и на еще один пляж - Амадорес, на который мы поедем на след. недели (до него ехать чуть дальше) и заедем в бухту Моган (как нам обещал Давид).
        br
        Загорали, ели бакадильи-бутерброды (которые взяли с собой), Давид ел салат "русский", который ему приготовила его мама (русский потому что заправлен майонезом - что-то наподобие оливье, но только с тунцом. Тут все заправленное майонезом называется "руским". :)) Купались много-много раз и играли в теннис на песке и через сетку (я чемпион - обыграла всех мужиков :). Песок очень горячий, потому что белый сильно нагревается - невозможно ходить без шлепок. Я делала домашку, а Давид ее проверил и исправил мне все ошибки, хотя почему так - объяснить не мог :). Я плохой ученик - все списываю))))). Время провели замечательно! Вернулись домой в 22 часа и сразу спать! 
      a(onclick="h('28')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 30.07.2012
      div( id='28',style="display:'none';", class='oscuro')
        br
        Ждем звонка... Пообедали дома...Я пишу блог...
        br
        Пошли ловить рыбу, был отлив и ловить было очень удобно т.к. попловок не прибивало к берегу. Пока ничего не поймали (зато сьели свежевыпеченный горячий хлеб :) , но еще "не вечер"!
      a(onclick="h('29')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 31.07.2012
      div( id='29',style="display:'none';", class='oscuro')
        br
        Послек школы пришли домой и отвевечали на письма и звонили домой. встретились в кафе с Давидом чтобы разговаривать на испанском и русском за чашечкой чая (я ела еще блины со сладкм кремом - очень вкусные). Наш друг теперь каждый день хочет болтать с нами, т.к. боиться что мы уедем в Мадрид и его интеркамбиусы на русском закончатся. ПОСЛЕ болтавни МЫ С вОВОЙ ПОШЛИ ИГРАТЬ В ТЕННИС НА ПЛЯЖ, а Давид поехал на свой интеркамбиус английского. После игры зашли перекусить пиццу в наш любимый итальянскаий ресторанчик! Нас уже знают все официанты на всей длинной набрежной (ее длина 3км) и с порога говорят уже наш заказ! Нужно экономить, но мы никак не успеваем купить еды домой, т.к. магазины закрываются очень рано! Пицца caprichosa была как всегда безупречна. Пошли домой, и подороге зашли в часы скидок в нашей ближней к дому кафешке, где официант нам даже подарил пироженные! ))))
        br
        Переоделись и пошли погулять по городу. Посидели на лавочке перед красивым фонтаногм (несмотря на то что уже 22 часа - фонтаны тут еще работаю). Поговорили про наши планы, обсудили все события и решили в эти выхи ехать на Тенерифе! :) 
