
html
  head
    meta(charset="utf-8")
    style .oscuro {display: none;}
    script(src="/javascripts/jquery-1.7.1.min.js")
    script(src="javascripts/myopenstat.js")
    script function h(i){var el=document.getElementById(i); el.style.display = (el.style.display === "block") ? 'none' : 'block';}
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34005435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body( bgcolor="#555555")
    div( style="font-family:'Brush Script MT',Phyllis,'Lucida Handwriting',cursive;color:#BBFFBB;font-size:24px;")
      h1 Vida nueva
      a(onclick="h('1')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 01.09.2012
      div( id='1',style="display:'none';", class='oscuro')
        br
        Итак, пошел уже 3-ий месяц наших летних каникул! Мне все так же нравиться море и пляж и солнце и весь город и весь остров!
        br
        Сегодня уехала Анна (австрийка, которая учиться в италии и знает 4 языка) и Джон (грек) и на пляж пришли только Моника, Петра и я. Попозже подошел Вова и мы продумали планы в какое новое место поехать и что посмотреть. Так же Моника хочет сходить в Лас Аренас (центр комерсиаль) за подарками, а мы за майкой. Договорились пойти на след. неделе. А завтра поехать на пляж Сардина(который располагается в деревне Сардина).
      a(onclick="h('2')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 02.09.2012
      div( id='2',style="display:'none';", class='oscuro')
        br
        Решили посмотреть новое популярное место на нашем острове, потому что давно никуда не ездили. И идея Монки (девочка из Италии) была поехать на пляж Сардины. Он расположен на севере острова недалеко от городка Гуймар (куда мы уже ездили по пути в Агаете смотреть Дедо де Диас - "Палец Бога"). У нас с собой была карта и расписание автобусов. Сели в следующий автобус, т.к. первый уехал прямо перед нашим носом - водитель просто закрыл двери перед нами и смотался! Странные они тут все-таки: то ждут стоят по 2 часа на сотановках, а то двери не открывают пассажирам которые бегут к автобусу. Но ничего - следующий был через 30 минут и мы без проблем доехали до Гуймара, а там на центральной станции сели в такси до самого пляжа (такси обошлось в 9 евро на троих). Увидев пляж мы были удивлены - чем он так знаменит, если ничего особенного тут и нет! Обычный небольшой пляж, полудугой с оранжевым песком и кучей-кучей народу. Вода тут была намного холоднее чем в нашем Лас Пальмасе, потому что тут северо-западный берег отсрова и проходит течение Гольфстрим. Но вода намного чище и мягче (не такая соленая). Так же тут ветер с моря намного сильнее и поднимает песок. Видно как плывет корабль "Фред Олсен" на Тенерифе. Купались, загорали и кушали бутерброды, когда зашло солнце - играли в теннис и фотографировались на закате (мы с Моникой). Вечером как обычно тут на острове был отлив и рядом образовался еще один небольшой пляжик, где дети играли в футбол. Пошли обратно к остановке автобуса и ждали его 1,5 часа, потому что предыдущий ушел не по расписанию раньше на 15 минут. Рядом на остановке так же испанская молодеж ждала автобуса, фотографировалась и смеялась. Был теплый, безветрянный вечер и мы слушали музыку с телефона Моники. Приехал атобус и поехали домой и часов в 23:30 были дома. Поездка нам понравилась, но наш пляж Лас Кантерас намного лучше! Еще раз убедились в этом, что живем в лучшем месте и не надо никуда ездить. :))))
        img( src="http://img-fotki.yandex.ru/get/6413/19948730.2/0_7251f_fd47b228_orig.jpg")
        img( src="http://img-fotki.yandex.ru/get/6513/19948730.2/0_72520_b346384c_orig.jpg", align="right")
        img( src="http://img-fotki.yandex.ru/get/6512/19948730.2/0_72521_256693c4_orig.jpg")
        br
      a(onclick="h('3')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 03.09.2012 - 05.09.2012
      div( id='3',style="display:'none';", class='oscuro')
        br
        Вот мы и доучились до уровня В2 испанского!  Новый класс с новым професором и все с теми же учениками - почти все перешли вместе с нами с уровня В1 и всех мы хорошо-хорошо знаем (все время на пляже и на дискотеках вместе). Профессор очень любит дискусии в классе, чтобы все спорили и ругались. Но ученики на этот раз подобрались спокойные и пофигисты. Много разговариваем и чуть-чуть граматики, но эта граматика ооооооочень сложная! На 1 упражнение уходит наверное час времени, потому что теперь все-все времена вместе в перемешку и надо определять где какое - очень сложно.
        br
        После школы пол класса собирается на пляже на обычном месте - рядом со статуей из песка. Загораем, купаемся, делаем домашку и болтаем по-испански. Тепер тут стало меньше народу, потому что многие уехали после окончания В1, но нам стало еще веселей, потому что все оставшиеся сдружились. Завтра последний день Петры (девочки из Чехии), и мы решили устроить прощальную фиесту.
      a(onclick="h('4')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 06.09.2012 Дискотека.
      div( id='4',style="display:'none';", class='oscuro')
        br
      a(onclick="h('5')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 07.09.2012 Школа и плохо после дискотеки. Бар Апперитив.
      div( id='5',style="display:'none';", class='oscuro')
        br
      a(onclick="h('6')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 08.09.2012 Завтрак с Петрой и провожали Петру.
      div( id='6',style="display:'none';", class='oscuro')
        br
      a(onclick="h('7')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 09.09.2012 Ходили гулять на Ислетту и ужинали рыбу с соусом-ветчиной (ветчину не ели конечно).
      div( id='7',style="display:'none';", class='oscuro')
        br
      a(onclick="h('8')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 10.09.2012
      div( id='8',style="display:'none';", class='oscuro')
        br
        Новая неделя началась с новой нагрузкой языка. Теперь после основных наших занятий мы ходим на частные занятия - еще +2 часа в день! Я занимаюсь с Анной (професора А2), а Вова с Мартой (професора А1). Занятия проходят в стиле разговора - говорим весь урок, а преподаватель пишет ошибки на листочке. И вот мое первое занятие и моя преподша начала радоваться и прыгать от счастия, когда услышала как я говорю по-испански! Что я использую 3 времени и все корректно! А для меня разговаривать по-испански уже стало такой нормой и привычкой, что иногда сказать по-испански легче чем по-русски! 2 часа занятий пронеслось как 5 минут! В конце я как обычно спросила про домашку и она удивилась, что я хочу домашку. Она еще больше обрадовалась. Итого я теперь имею 2 домашки вместо 1.
        br
        Зашли домой, переоделись, я сделала нам бутерброды с собой и пошли на пляж, где нас ждала уже Моника одна. Все уехали и остались только мы. Обнаружили что статуя человек из песка сровняли с землей - ее больше нет...
        br
        После пляжа (пляж - это обязательная часть програмы здесь :)) я пошла домой ее делать. Хотя сегодня понедельник, а по понедельникам тут принято гулять ночью, т.к. бар имеет оферту - пиво по 0,45 центов. Но я не пошла...
      a(onclick="h('9')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 11.09.2012
      div( id='9',style="display:'none';", class='oscuro')
        br
        Посде всех двойных занятий мы пришли домой в 16-10 и сразу встретились с Моникой, потому что вчера договорились идти в магазин сережек (очень дешевых сережек) рядом с площадью Св. Каталины. Я хочу купить сережки с символом Гуанчи - это определенный символ индейцев, которые жили на этих островах очень давно (они считаются основатилями эти=х островов). Но погода была отличная и решили пока жарко пойти на пляж ьи плыть на бдарру (риф посереди моря), т.к. она была большая сейчас! Мы с Моникой давно собирались туда плыть т.к. ьв прошлый раз нам очень там понравилось! А Вова пошел домой кушать и обещал к 18-00 придти к нам. Итак мы поплыли! Вода была волшебной! Голубовато-бирюзовая как на Карибах! И абсолютно прозрачная! Море сейчас спокойное и вода нагрелась на солнце так, что плыть одно удовольствие! Я плыла в водных очках и смотрела подводных рыбок - это незабываемо! Маленькие, большие, прозрачные, черно-синие, полосато-зеленые и очень-очень быстрые (не ухватить рукой)! На барре  было как обычно куча народу - пол пляжа: ребята прыгали в воду за барру, катались на волнах и даже сидели под струями воды как джакузи! Целый час мы там развлекались! Приплыли обратно без сил (по дороге к пляжу можно стоять в море в некоторых местах, так что плыть совсем не сложно и не далеко).
        br
        Через 20 минут загорания и сна на пляже пришел Вова и разбудил меня и мы пошли в магазин сережек. Моника как обычно потерялась в городе, но спустя 30 минут она все таки смогла найти этот магазин :)))). Тут оказалось кучи всего и поэтому потребовался целый час чтобы выбрать самые лучшие из самых лучших. В 20-30 толкьо пришли домой, а еще куча дел!
      a(onclick="h('10')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 26.09.2012 Типичный день студентов отдыхающих на море.
      div( id='10',style="display:'none';", class='oscuro')
        br
        Светит яркоен солнце и так и манит меня на пляж купаться! Невозможно удержаться от такого соблазна даже спустя 4 месяца жизни на берегу моря! Мне кажеться что море мне никогда не надоест! Оно просто не может надоесть! Все время разное и красивое! Видно соседний остров или не видно, волны большие или маленькие, барра высоко над водой и можно на нее плыть или барры совсем не видно, потому что прилив - тут столько мелких ситуаций и венщей, которые замечаешь с каждый днем все больше ти больше живя на одном и том же месте!
        br
        Итак, сегодня прекрасный солнечный день (с температурой 30-35 градусов) и мы вышли на наш пляж "Чика" перед окном где-то в 18-30 (пока поели после школы и поспали после того как поели и переоделись - прошло много времени!). Но на пляже хорошо - уже меньше народу и мы загорали и играли в наш любимый пляжный теннис! Коглда солнце уже село (закаты тут особенно красивые, но сейчас солнце садиться за горы острова а не за море прямо перед нами, потому что планета повенрнулась за 4 месяца другой стороной к солнцу) Вова решил искупаться, а потом и мне захотелось глядя на него!
        br
        Купались в море уже ночью. когда уже стемнело. Вода была очень-приочень теплая! Ветра нет и кажется что плывешь не в воде а по воздуху, потому что когда вода имеет одинаковую температуру с воздухом ее не ощущаешь. Купались до 21 или почти до 22! Первый раз тут купались ночью. Но море освещено фонарями от Кантераса и вода прозрачная и видно дно, и поэтому нельзя сказать что купались в темноте! Купили сладкие булочки и тортики по дороге домой в нашей оранжевой кафешке и пошли домой делать домашку к завтрашним 6-ти часовм занятиям испаснского. Еще один день в раю тподошел к концу, но мы счастливы потому что завтра будет такой же прекрасный и счастливый день в раю! )))))))
      a(onclick="h('11')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 27.09.2012 Первый дождик на Гран Канарии!!!
      div( id='11',style="display:'none';", class='oscuro')
        br
        Наконец-то дождик на нашем острове! Урааааа! Прохлада и свежесть! И природа спасена! А то 4 месяца тут не упало ни капельки! И вся природа высохла и были пожары на других островах (на нашем нет, т.к. нет деревьев). 
        br
        После первых занятий мы пошли на вторые-частные, а после частных пошли деректаменте на почту, чтобы отправить письмо моей маме у которой чере 3 недели ДР. Но т.к. почта от сюда идет очень долго (мы ждали письмо из школы 1 месяц), то письмо надо отправлять заранее. Купили открытку в магазине на набережной и магнитик, все с изображение достопримечателшьностей и картой нашего острова. Работница почты долго рассматривала наш магнитик и ей очень он понравился! :)))))) Почта находится в комерческом центре самом большом в городе "Эль Корта Инглес" и мы прогулялись под дождем от нашей набережной до него. Конверт и отправка письма с магнитиком стоила 1,60 евра (дешево). Потом мы походили по магазину и посмотрели чемоданы (т.к. наш нам сломали в аэропорту Берлина нам нужен новый). Нашли красивый (оранжевый) за 53 евро и он нам понравился, но пока не стали покупать т.к. продавщица-консультант нам сказала что каждую неделю новыце завозы. Решили купить через неделю.
        br
        Пришли домой и покушали наши вкусые овощи с грибами , которые купили позавчера в этом же Корта Инглес. После делали домашку вместе - распечатки прошлогоднего экзамена по испанскому языку ДЭЛИ уровня В1. 
      a(onclick="h('12')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 28.09.2012 El ultima dia en la esquela (que triste)
      div( id='12',style="display:'none';", class='oscuro')
        br
        Последний день занятий в школе и мы закончили уровень В2 и даже можем купить дипломы и сертификаты с уровнем В2 и оценкой "отлично"  (каждый диплом стоит 5 евро :), потому что кризис в Испании и раньше были бесплатные)!
        br
        Итак, эту неделю. мы занимались в классе без инглессов (прошлые 2 недели в наших группах училось 4 ученика из Англии по программе "Леонардо Да Винчи" - потом они работают кто где 3 месяца бесплатна и им оплачивают 2 недели испанского внашей тшколе языков). Они очень "продвинутые" в знаниях языка, потому что изучают язык 8 лет (а я всего 4 месяца)!!! И мы кверены что у них уровень С1 а может даже и С2 (олин парень из них изучал язык живя на Кубе 2 голда а может и больше - не удалось его распросить т.к. эти инглессы не очень были нам приятны). Каждый день они пили алкоголь и являлись к середине занятий с жутким перегаром и с "ресакой" - так называется по-испански состояние после алкогольного опьянения, когда болит голова и  живот. Так вот эта неделя последняя прошла без них и мне понравилась больше всего, хотя с шутками и странными темами нашего профессорна (как обычно). Он все время повторяет что у него плохо с головой.
        br
        Итак, на Кантерасе 30 градусов и мы сидим на лавке и смотрим на море. Время 16-00 и к нам подходит Дирк - наш одноклассник из Германии, который 16 илет иучит тисрпанский и 3 года ездиет сюда в эту школу к этому преподавателю в этот уровень В2. Он подошел к нам т.к. проводил свою жену в СПА в каком-то отлеле и решил поболтать с намии. Потом подошла его жена и мы болтали до 18 часов! Болтали обо всем: о кино, о языке, о истории стран и истории Германии, о фильмах на исрпанском, о лотерее и т.д. и т.п. Вова уже устал от болтавни на испанском, а впереди наша обычная пятничная встреча с испанцами-студентами русского! И надо обязательно идти :). Попили чай дома со свежим, только что испеченным хлебом (который купили в Спаре - местный супермаркет с дешевыми ценами и хорошим качеством продуктов) и собираемся идти в бар "Эль Апперетив" чстобы продолжать наще "законченное" сегодня изучение языка.
        br
        Вечер прошел весело и забавно: в баре нам всунули книжки сказок Пушкина и мы должны были читать их испанцам (которые учат русский) и объяснять значените слов, значения которых мы и сами не знаем как объяснить! Например, мне досталась сказка про Балду и надо было объяснять слова: авось, тятя, попадья и т.д. и т.п. А Жанна вообще читала сказку о Спящей царевне, потому что Луиз забыл очки и не видил буквы!))))) Вове объяснял испенец сказку о Золотой рыбке по-испански. :))) Вообщем испанцы хотели поскорее отвязаться от этого чтения и поэтому встреча закончилась сегодня пораньше - около 21 часа, но потом мы в четвером (я, Вова, Луис и Жанна) пошли гулять на площадь испании и сели там на террасу (кафе, столики которого расположены на улице). Смеялись и общались на испаснком и на русском. Жанна все нахваливала нас как мы хорошо знаем испанский и спрашивала совета как его выучить.
        br
        После этого кафе пошли дальше в Тапу в Тапе, но там как обычно аншлаг и пошли в другой рестаран. Посидели тут недолго и Луис с нами поращался, т.к. его семья ждала его дома. А мы уже втроем пошли по направлению в Кантересу, где сели в другую кафешку и проболтали, сами того не ожидая, до 2 часов ночи! 
      a(onclick="h('13')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 29.09.2012
      div( id='13',style="display:'none';", class='oscuro')
        br
        Такой спокойный день. Выбирали билеты на самолет и покупали их. Есть одна компания Райнэйр у которой билеты стоят 6 евро в Мадрид! Это очень странно! Т.к. у обычной испанской компании нормальная цена - это 130 - 150 евро за такой перелет! И как такое может быть - огромная разница между 6 еврами и 130! Но все наши професоры в школе нам обяснили в чем подвох. В том что компния Райэрн экономит на всем и на всех! Заливает бензина очень мало, чтобы весить мало, и летает на очень маленькой высоте, чтобы экономить бензин и во многих случаях самолет садился в странах и городах не долетая до точки назначения! И одна из идей этой компании была в том, чтобы пасажиры летали стоя как в автобусе! ))))))
        br
        Короче мы купили билеты дороже, но зато у хорошей компании, которой тут летают все-все профессоры. :))))
        br
        Стали выбирать отель на первые 2-3 дня в Мадриде, пока будем ездить и искать квартиры. Цены на отели в Мадриде огромные! Забронировали пождешевле в центре города и рядом с метро (почитали отзывы - хороший отель).
      a(onclick="h('14')", onmouseover="this.style.color='#FFBBBB'", onmouseout="this.style.color='#BBFFBB'")
        h2 30.09.2012 Пляж и кино
      div( id='14',style="display:'none';", class='oscuro')
        br
        Встали поздо и наконец-то выспались за эту неделю. Пока собирались идти на пляж и вышдли из дома в купальниках и с полотенцами - увидели что тут оказывается накрапывает дождик. Но пока мы позавтракали в дальней кафешке, в которой обычно завтракаем за 2,5 евро за завтрак, то дождик кончился и выглянуло яркое солнце и мы сразу спустились на пляж! Чеерез 5 минут Вове стало очень жарко и он отправился домой за зонтиком от солнца (который нам подарила Петра перед отъездом). Загорали, купались и много играли в теннис! Эта игра нам очень-приочень нравиться!
        br
        Часов в 5-6 вечера пошли домой, чтобы пообедать, ответить на все письма в Фэйсбук, в контакте и по почте (уже целую вечсность никому не отвечала) и позвонить всем родственникам.
        br
        Вечером пошли в кино в торговый центра Эль Муэле, который находиться рядом с нами. Теперь у нас есть скидки 9КОТОРЫЕ НАМ ПОДАРИЛ НАШ компаньер по классу из германии Дирк) - любой билет за 5 евро в любой день и в любое время (так билеты кроме среды стоят 10 евро). Сеанс начинался в 22-15. Фильм наш любимый - про вампиров :)))))))))). Нам очень-очень понравился! Последний раз мы были в кино месяца 1,5 наза и сейчас мы видем прогресс в язяке, т.к. все-все слова и фразы нам уже понятны! Вау! Даже сами такого не ожидали что будет настолько интересно смотьреть фильм на другом языке. Да и сам фильм был с захватывающими спецэфектами. Хотя мы думали что будет скучней, а оказалось совсем наоборот! Теперь хотим здесь еще посмотерть 2 или 3 фильма, реклама которых нам понравилась.