doctype 5
html
  head
    title="Spirin Travels"
    meta(name="msvalidate.01", content="DF74E0934E999839CFF9FAD576CC106E")
    script(src="javascripts/jquery-1.7.1.min.js")
    script(src="javascripts/excursion.min.js")
    script(src="javascripts/myopenstat.js")
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34005435-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(onload="init('/user_excursion')")
    canvas(id="can")